<html>
<head>
<style>
th,td { padding : 5px }

  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }

</style>
</head>
<body>
    <h1><%=name%></h1>
    <table border=1 style="border-collapse:collapse">
    <tr><th>id</th><th>Title</th><th>Site</th><th>image</th><th>Content</th><th>like</th></tr>
        <tr><td><%=board.id%></td></td><td><%=board.title%></td>
        <td><a href="<%=board.url%>"><%=board.imageUrl && board.imageUrl.split('/')[2]%></a></td>
        <td><img width=100 src="<%=board.imageUrl%>"></td>
        <td><%=board.content%></td>
        <td><%=board.likeCount%></td></tr>
        <tr><td colspan=6>댓글</td></tr>
    <% board.comments.forEach(function(comment,id){ %>
        <tr><td><%=id%></td><td colspan=4><%=comment%></td>
            <td><a href="/delcomm?bid=<%=board.id%>&cid=<%=comment%>">삭제</a></td></tr>
    <% }) %>
    </table>
    <a href="/like?bid=<%=board.id%>"  class="button">좋아요~</a> 



<form method="post" action="/edit">
  <input type="hidden" name="bid" value="<%=board.id%>">
  <input type="password" name="password" placeholder="비밀번호 입력">

  <button type="submit" class="button">수정</button>
  <button type="submit" formaction="/delete" class="button">삭제</button>
</form>


<form method="post" action="/edit?bid=<%=board.id%>">
  <input type="password" name="password" placeholder="비밀번호 입력">

  <button type="submit" class="button">수정</button>
  <button type="submit" formaction="/delete" class="button">삭제</button>
</form>




<input type=text name=comment size=50>
<input type=submit value=" 댓글쓰기" ></form>
</body>
</html>
